NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3307
DB_NAME=nacatamales_dona_antonia
DB_USER=root
DB_PASSWORD=replace_with_your_database_password


JWT_ACCESS_TOKEN_SECRET=replace_with_secure_secret
JWT_ACCESS_TOKEN_TTL=15m

JWT_REFRESH_TOKEN_SECRET=replace_with_secure_secret
JWT_REFRESH_TOKEN_TTL=30d

IMAGEKIT_PUBLIC_KEY=replace_with_public_key
IMAGEKIT_PRIVATE_KEY=replace_with_private_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your-imagekit-id
IMAGEKIT_FOLDER=nacatamales-dona-antonia
